/* teste */


#todo_list > li > img {
    width: 30px;
    vertical-align: middle;
    cursor: pointer;
}

#todo_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#todo_list > li {
    margin: 5px 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_input_group {
    display: flex;
}

.task_input_group > button {
    border-radius: 0;
    padding: 5px;
    cursor: pointer;
    border: none;
    margin: 0 0 0 5px;
    background-color: #57ffa9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task_input_group > button > img {
    width: 18px;
}

#task_input {
    border: none;
    width: 95%;
    background-color: whitesmoke;
    height: 30px;
    padding: 0 0 0 2%;
    color: #222222;
}

#task_input:focus {
    outline: none;
}

#todo_list > li > span {
    margin: 0 0 0 2%;
    color: #222222;
}
